@model IEnumerable<ContosoUniversity.ViewModels.ContractDateGroup>

@{
    ViewBag.Title = "Driver Body Statistics";
}

<h2>Driver Body Statistics</h2>

<table>
    <tr>
        <th>
            Hire Date
        </th>

        <th>
            Drivers
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>

            <td>
                @item.DriverCount
            </td>
        </tr>
    }
</table>
